{% extends 'base.html' %}

{% block main %}
<a href="logout">Logout</a><br>

<form action="CourseData" method="GET">
    Enter Course Number To See Choices : <input type="text" name="course_number" placeholder="BITS F111">
    <input type="submit">
</form>
<form action="RemoveCourse" method="GET">
    Enter Course Number To Remove: <input type="text" name="course_number" placeholder="BITS F111">
    <input type="submit">
</form>

<br>
<div class="left">
    <div id="leftbox">
        <div class="table_box2">
            Monday
        </div>
        <div class="table_box2">
            Tuesday
        </div>
        <div class="table_box2">
            Wednesday
        </div>
        <div class="table_box2">
            Thursday
        </div>
        <div class="table_box2">
            Friday
        </div>
        <div class="table_box2">
            Saturday
        </div>
    </div>
    <div id="middlebox">
        {% for userhour in userhours %}
        <div class="table_box">
            {{userhour.course}}
        </div>
        {% endfor %}
    </div>
</div>
<div class="right">
    <div id="rightbox">
    {{message}}
    <h3>{{course_number}}</h3>
    {% if lectures %}
    <h4>Lectures</h4>
    <form action="AddSlot" method="POST">
        {% csrf_token %}
        {% for lecture in lectures %}
            <input type="radio" name="slot" value="{{lecture}}">
            {{lecture}}<br>
        {% endfor %}
        <br>
        <button type="submit" name="course_number" value="{{course_number}}">Submit</button>
    </form>
    {% endif %}
    <br>
    {% if tutorials %}
    <h4>Tutorials</h4>
    <form action="AddSlot" method="POST">
        {% csrf_token %}
        {% for tutorial in tutorials %}
            <input type="radio" name="slot" value="{{tutorial}}">
            {{tutorial}}<br>
        {% endfor %}
        <br>
        <button type="submit" name="course_number" value="{{course_number}}">Submit</button>
    </form>
    {% endif %}
    <br>
    {% if practicals %}
    <h4>Practicals</h4>
    <form action="AddSlot" method="POST">
        {% csrf_token %}
        {% for practical in practicals %}
        <input type="radio" name="slot" value="{{practical}}">
            {{practical}}<br>
        {% endfor %}
        <br>
        <button type="submit" name="course_number" value="{{course_number}}">Submit</button>
    </form>
    {% endif %}
</div>
</div>
    
<a href="clear">CLEAR ALL</a>

{% endblock %}
